<header>
  <h1>Práctica de Diseño de Software</h1>
</header>
<main>
  <section>
    <!-- <app-login></app-login>
    <br/>
    <br/>
    <app-circuit></app-circuit>
    <br/> -->
    <router-outlet/>
  </section>
</main>
<!-- <footer>
  <p>Desarrollado por:</p>
  <ul>
   <li>Daniel Barchino Rodríguez-Caro - <a href="https://github.com/dbarchino" target="_blank">GitHub</a></li>
   <li>Rosa María Fernández-Baíllos Callejas - <a href="https://github.com/RosaMariaFdez" target="_blank">GitHub</a></li>
   <li>Andrés García López - <a href="https://github.com/H4mbl3x" target="_blank">GitHub</a></li>
  </ul>
</footer> -->